In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\Horvath\From_OurModel

df1 = pd.read_csv('GSE67749_236_HIV_Age.csv')
df2 = pd.read_csv('GSE67748_236CpG_HIV_Age.csv')
df3 = pd.read_csv('GSE59457_236_HIV_Age.csv')
df4 = pd.read_csv('GSE53162_236CpG_Auti_Age.csv')
df6 = pd.read_csv('Merged_236_AD_Age_Mean.csv')
df7 = pd.read_csv('GSE74193_236CpG_Schiz_Age.csv')

Z:\Project_Top2B\April_2023\Horvath\From_OurModel

In [2]:
df1 = df1.transpose()
df1.columns = df1.iloc[0]
df1 = df1.iloc [1:, :]

df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df3 = df3.transpose()
df3.columns = df3.iloc[0]
df3 = df3.iloc [1:, :]

df4 = df4.transpose()
df4.columns = df4.iloc[0]
df4 = df4.iloc [1:, :]

df6 = df6.transpose()
df6.columns = df6.iloc[0]
df6 = df6.iloc [1:, :]

df7 = df7.transpose()
df7.columns = df7.iloc[0]
df7 = df7.iloc [1:, :]

df7.head(2)

CpG,SC1,SC2,SC3,SC4,SC5,SC6,SC7,SC8,SC9,SC10,...,SC216,SC217,SC218,SC219,SC220,SC221,SC222,SC223,SC224,SC225
Age,17.238356,18.016438,18.257534,18.578082,20.235616,20.235616,20.356164,21.254794,21.550684,21.550684,...,75.616438,80.249315,81.104109,81.210958,81.210958,83.19452,83.19452,83.460273,92.156164,96.980821
cg00302494,0.153119,0.155559,0.151029,0.152391,0.145538,0.147019,0.154561,0.163441,0.148266,0.134147,...,0.177356,0.190923,0.177151,0.181544,0.193487,0.178862,0.159063,0.201671,0.18272,0.200483

In [3]:
from functools import reduce

df_list = [df1, df2, df3, df4, df6, df7]

df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

df_merged.to_csv('Merged_236_Diseased_Cortex.csv')
print(df_merged.shape)
df_merged.head(2)

(237, 627)

CpG,GSM1655152,GSM1655153,GSM1655154,GSM1655155,GSM1655156,GSM1655157,GSM1655158,GSM1655159,GSM1655144,GSM1655145,...,SC216,SC217,SC218,SC219,SC220,SC221,SC222,SC223,SC224,SC225
Age,34.00000,61.000000,64.000000,27.000000,41.000000,52.000000,40.000000,33.00000,34.000000,61.000000,...,75.616438,80.249315,81.104109,81.210958,81.210958,83.194520,83.194520,83.460273,92.156164,96.980821
cg00302494,0.12443,0.199625,0.187522,0.163723,0.137345,0.154306,0.143404,0.11396,0.096321,0.126629,...,0.177356,0.190923,0.177151,0.181544,0.193487,0.178862,0.159063,0.201671,0.182720,0.200483

In [5]:
import numpy as np
%cd Z:\Project_Top2B\April_2023\Cortex_Clock\Our_Model

data = pd.read_csv('Merged_236_Diseased_Cortex_Age.csv')
data = data.drop(['Age'], axis = 1)

# Replace '' values with NaN
data = data.replace('', np.nan)

# Loop over each column and replace NaN values with column means
for col in data.columns:
    # Convert the column to numeric data type
    data[col] = pd.to_numeric(data[col])
    
    # Calculate the mean of the column
    col_mean = data[col].mean()
    
    # Replace NaN values with the column mean
    data[col].fillna(col_mean, inplace=True)

data.to_csv("Merged_236_Diseased_Cortex_Mean.csv", index = False)
data.head(2)

Z:\Project_Top2B\April_2023\Cortex_Clock\Our_Model

,cg00302494,cg00313401,cg00357610,cg00370293,cg00400263,cg00474746,cg00502509,cg00751072,cg01021045,cg01039763,...,cg26546105,cg26890189,cg26958558,cg27038935,cg27052113,cg27108600,cg27355141,cg27431596,cg27494429,cg27624319
0,0.124430,0.123811,0.084847,0.219112,0.943321,0.265823,0.973644,0.309118,0.063175,0.887574,...,0.180597,0.013867,0.048082,0.082192,0.014877,0.100510,0.472520,0.063413,0.940021,0.332221
1,0.199625,0.167619,0.082189,0.209056,0.898961,0.297466,0.947223,0.293002,0.041936,0.863934,...,0.227984,0.138577,0.036243,0.062547,0.069674,0.089357,0.564014,0.084580,0.898340,0.336652