In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\Cortex_Clock\Our_Model

df2 = pd.read_csv('GSE53162_236CpG_Healthy_Age.csv')
df3 = pd.read_csv('GSE59457_236_Healthy_Age.csv')
df4 = pd.read_csv('GSE64509_236_Healthy_Age.csv')
df5 = pd.read_csv('GSE66351_236CpG_Healthy_Age.csv')
df6 = pd.read_csv('GSE67748_236CpG_Healthy_Age.csv')
df7 = pd.read_csv('GSE67749_236_Healthy_Age.csv')
df8 = pd.read_csv('GSE74193_236CpG_Healthy_Age.csv')
df9 = pd.read_csv('GSE80970_236CpG_Healthy_Age.csv')
df10 = pd.read_csv('GSE109627_236CpG_Healthy_Age.csv')

Z:\Project_Top2B\April_2023\Cortex_Clock\Our_Model

In [2]:
df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df3 = df3.transpose()
df3.columns = df3.iloc[0]
df3 = df3.iloc [1:, :]

df4 = df4.transpose()
df4.columns = df4.iloc[0]
df4 = df4.iloc [1:, :]

df5 = df5.transpose()
df5.columns = df5.iloc[0]
df5 = df5.iloc [1:, :]

df6 = df6.transpose()
df6.columns = df6.iloc[0]
df6 = df6.iloc [1:, :]

df7 = df7.transpose()
df7.columns = df7.iloc[0]
df7 = df7.iloc [1:, :]

df8 = df8.transpose()
df8.columns = df8.iloc[0]
df8 = df8.iloc [1:, :]

df9 = df9.transpose()
df9.columns = df9.iloc[0]
df9 = df9.iloc [1:, :]

df10 = df10.transpose()
df10.columns = df10.iloc[0]
df10 = df10.iloc [1:, :]

df10.head(2)

CpG,SAMPLE_10,SAMPLE_102,SAMPLE_103,SAMPLE_105,SAMPLE_108,SAMPLE_11,SAMPLE_111,SAMPLE_112,SAMPLE_113,SAMPLE_114,...,SAMPLE_73,SAMPLE_77,SAMPLE_78,SAMPLE_83,SAMPLE_85,SAMPLE_88,SAMPLE_89,SAMPLE_93,SAMPLE_96,SAMPLE_99
Age,78,79,94,90,92,92,82,81,79,94,...,85,86,85,89,81,92,77,87,77,90
cg00302494,0.210506,0.151507,0.1543,0.173217,0.214991,0.19305,0.163573,0.186822,0.161702,0.176224,...,0.150916,0.169871,0.157006,0.206197,0.184569,0.194548,0.197142,0.193464,0.168684,0.187376

In [3]:
from functools import reduce

df_list = [df2, df3, df4, df5, df6, df7, df8, df9, df10]

df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

df_merged.to_csv('Merged_236_Healthy_Cortex.csv')
print(df_merged.shape)
df_merged.head(2)

(237, 1027)

CpG,GSM1283235,GSM1283237,GSM1283240,GSM1283242,GSM1283243,GSM1283245,GSM1283246,GSM1283247,GSM1283248,GSM1283249,...,SAMPLE_73,SAMPLE_77,SAMPLE_78,SAMPLE_83,SAMPLE_85,SAMPLE_88,SAMPLE_89,SAMPLE_93,SAMPLE_96,SAMPLE_99
Age,22.000000,36.000000,56.000000,41.000000,19.000000,22.000000,36.000000,32.000000,50.000000,56.000000,...,85.000000,86.000000,85.000000,89.000000,81.000000,92.000000,77.000000,87.000000,77.000000,90.000000
cg00302494,0.111808,0.132231,0.141836,0.127147,0.132865,0.120566,0.137911,0.144995,0.150017,0.148363,...,0.150916,0.169871,0.157006,0.206197,0.184569,0.194548,0.197142,0.193464,0.168684,0.187376

In [6]:
import numpy as np

data = pd.read_csv('Merged_236_Healthy_Cortex_Age.csv')
data = data.drop(['Age'], axis = 1)

# Replace '' values with NaN
data = data.replace('', np.nan)

# Loop over each column and replace NaN values with column means
for col in data.columns:
    # Convert the column to numeric data type
    data[col] = pd.to_numeric(data[col])
    
    # Calculate the mean of the column
    col_mean = data[col].mean()
    
    # Replace NaN values with the column mean
    data[col].fillna(col_mean, inplace=True)

data.to_csv("Merged_236_Healthy_Cortex_Mean.csv", index = False)
data.head(2)

,cg00302494,cg00313401,cg00357610,cg00370293,cg00400263,cg00474746,cg00502509,cg00751072,cg01021045,cg01039763,...,cg26546105,cg26890189,cg26958558,cg27038935,cg27052113,cg27108600,cg27355141,cg27431596,cg27494429,cg27624319
0,0.111808,0.134556,0.087703,0.208469,0.754135,0.209498,0.927240,0.245102,0.076607,0.717600,...,0.150919,0.101529,0.112154,0.174359,0.103924,0.115470,0.462188,0.078497,0.818141,0.221991
1,0.132231,0.146819,0.087338,0.225646,0.810236,0.226720,0.925409,0.288687,0.072610,0.775018,...,0.180804,0.089511,0.107927,0.131044,0.079191,0.116813,0.490077,0.102806,0.830173,0.277987