In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\cerebellum

df1 = pd.read_csv('GSE53162_Top2b_cb.csv')
df2 = pd.read_csv('GSE134379_Top2b_cb.csv')
df3 = pd.read_csv('GSE89702_Top2b_cb.csv')
df4 = pd.read_csv('GSE67748_Top2b_cb.csv')
df5 = pd.read_csv('GSE59457_Top2b_cb.csv')
df6 = pd.read_csv('GSE61431_Top2b_cb.csv')
df7 = pd.read_csv('GSE105109_Top2b_cb.csv')
df8 = pd.read_csv('GSE125895_Top2b_cb.csv')
#GSE64509 has been removed, will be used to predict healthy age

Z:\Project_Top2B\April_2023\regionwise\cerebellum

In [2]:
df1 = df1.transpose()
df1.columns = df1.iloc[0]
df1 = df1.iloc [1:, :]

df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df3 = df3.transpose()
df3.columns = df3.iloc[0]
df3 = df3.iloc [1:, :]

df4 = df4.transpose()
df4.columns = df4.iloc[0]
df4 = df4.iloc [1:, :]

df5 = df5.transpose()
df5.columns = df5.iloc[0]
df5 = df5.iloc [1:, :]

df6 = df6.transpose()
df6.columns = df6.iloc[0]
df6 = df6.iloc [1:, :]

df7 = df7.transpose()
df7.columns = df7.iloc[0]
df7 = df7.iloc [1:, :]

df8 = df8.transpose()
df8.columns = df8.iloc[0]
df8 = df8.iloc [1:, :]

df2.head(2)

Sample_ID,CBL_9526,CBL_9606,CBL_9827,CBL_0888,CBL_0864,CBL_9539,CBL_9823,CBL_9638,CBL_9944,CBL_9502,...,CBL_0311,CBL_0347,CBL_9214,CBL_0528,CBL_9628,CBL_0704,CBL_0613,CBL_0661,CBL_9232,CBL_0236
Age,63,63,63,65,68,68,68,69,69,70,...,95,95,95,96,96,97,98,100,102,103
cg00005072,0.782861,0.84427,0.746434,0.832931,0.808135,0.745071,0.850457,0.825258,0.845966,0.831432,...,0.814605,0.870403,0.868117,0.837105,0.841034,0.826615,0.866653,0.826165,0.821013,0.842301

In [3]:
from functools import reduce

df_list = [df1, df2, df3, df4, df5, df6, df7, df8]

#df_merged = reduce(lambda left, right: pd.merge(left, right, on=['Sample_ID'], how='inner'), df_list)
df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

# Drop columns containing ':' in their names
df_merged.drop([col for col in df_merged.columns if ':' in col], axis=1, inplace=True)

df_merged.to_csv('MergedRO_Top2B_Cerebellum.csv')
print(df_merged.shape)
df_merged.head(2)

(3311, 340)

Sample_ID,GSM1283273,GSM1283269,GSM1283272,GSM1283268,GSM1283270,GSM1283271,CBL_9526,CBL_9606,CBL_9827,CBL_0888,...,5-B02,1-A04,2-B04,3-C01,3-B09,4-B12,2-A10,4-A12,1-B07,2-A07
Age,2.000000,6.000000,21.000000,22.000000,23.000000,26.00000,63.000000,63.000000,63.000000,65.00000,...,63.240000,64.910000,65.040000,67.780000,68.590000,71.110000,73.280000,73.910000,77.990000,83.640000
cg00010266,0.073333,0.063563,0.060586,0.071251,0.062735,0.07783,0.029605,0.031991,0.039144,0.04291,...,0.065474,0.067467,0.074168,0.061413,0.057152,0.071744,0.056666,0.075638,0.056107,0.047064