In [1]:
import numpy as np
import pandas as pd

%cd Z:\Project_Top2B\April_2023\regionwise\cerebellum
data = pd.read_csv('MergedRO_Top2B_Cerebellum1.csv')
data = data.drop(['Sample_ID'], axis = 1)
data.head(1)

Z:\Project_Top2B\April_2023\regionwise\cerebellum

,Age,cg00010266,cg00018024,cg00018539,cg00019511,cg00029353,cg00030423,cg00034416,cg00034611,cg00041368,...,cg27551895,cg27569265,cg27597926,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658967,cg27664120
0,2.0,0.073333,0.050456,0.868932,0.881951,0.054426,0.069267,0.057713,0.854109,0.91927,...,0.158858,0.155456,0.081959,0.168745,0.159493,0.8402,0.918704,0.426576,0.066982,0.856399

In [2]:
df = pd.read_csv('List_ModelCpG_cb.csv')

# Get the unique values from the first column of df
columns_to_select = df.iloc[:, 0].unique()

# Select only the columns from data that are present in columns_to_select
selected_columns = data[columns_to_select]

# Add the column Age from data to the firstmost column of selected_columns
Age = 'Age'
selected_columns.insert(0, Age, data['Age'])

print(selected_columns.shape)
selected_columns.head(2)

(340, 50)

,Age,cg19472303,cg02855996,cg00400263,cg21732842,cg08874598,cg10479082,cg09772299,cg22830707,cg20163796,...,cg00474746,cg00473985,cg03353765,cg01242498,cg13944018,cg01329687,cg11063988,cg18873763,cg17329518,cg08187983
0,2.0,0.112696,0.792317,0.924729,0.140567,0.342968,0.085831,0.141433,0.103748,0.858424,...,0.107120,0.761191,0.248879,0.923454,0.096466,0.144945,0.060146,0.926795,0.023490,0.569107
1,6.0,0.127640,0.747501,0.881984,0.103600,0.360339,0.067673,0.252671,0.202302,0.768294,...,0.105646,0.754618,0.241920,0.902434,0.074058,0.207423,0.064246,0.906768,0.060772,0.572686

In [3]:
# Replace '' values with NaN
data = data.replace('', np.nan)

# Loop over each column and replace NaN values with column means
for col in data.columns:
    # Convert the column to numeric data type
    data[col] = pd.to_numeric(data[col])
    
    # Calculate the mean of the column
    col_mean = data[col].mean()
    
    # Replace NaN values with the column mean
    data[col].fillna(col_mean, inplace=True)

data.to_csv("MergedRO_Top2B_Mean_cb.csv", index = False)
data.head(2)

,Age,cg00010266,cg00018024,cg00018539,cg00019511,cg00029353,cg00030423,cg00034416,cg00034611,cg00041368,...,cg27551895,cg27569265,cg27597926,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658967,cg27664120
0,2.0,0.073333,0.050456,0.868932,0.881951,0.054426,0.069267,0.057713,0.854109,0.919270,...,0.158858,0.155456,0.081959,0.168745,0.159493,0.840200,0.918704,0.426576,0.066982,0.856399
1,6.0,0.063563,0.071539,0.837630,0.871659,0.067022,0.075092,0.071654,0.708397,0.903124,...,0.205979,0.135422,0.064384,0.170143,0.093049,0.827394,0.882720,0.425566,0.071315,0.851720