In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\all

df1 = pd.read_csv('Merged18_Top2B_Mean.csv')
df2 = pd.read_csv('Merged_Top2B_Diseased_Mean.csv')

df1 = df1.transpose()
df1.columns = df1.iloc[0]
df1 = df1.iloc [1:, :]

df2 = df2.transpose()
df2.columns = df2.iloc[0]
df2 = df2.iloc [1:, :]

df2.head(2)

Z:\Project_Top2B\April_2023\all

Sample_ID,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,...,d1454,d1455,d1456,d1457,d1458,d1459,d1460,d1461,d1462,d1463
Age,2.0,2.0,4.0,5.0,8.0,8.0,8.0,9.0,14.0,16.0,...,100.0,100.0,100.0,100.0,102.0,102.0,103.0,103.0,103.0,103.0
cg00018024,0.080393,0.073025,0.067268,0.080648,0.076396,0.061678,0.07492,0.067465,0.060364,0.066427,...,0.0375,0.03542,0.019241,0.016848,0.021383,0.019556,0.04921,0.03947,0.017999,0.015112

In [3]:
from functools import reduce

df_list = [df1, df2]

df_merged = reduce(lambda left, right: pd.merge(left, right, left_index=True, right_index=True, how='inner'), df_list)
df_merged.fillna('void', inplace=True)

df_merged.to_csv('Merged_HealthyAndDiseased_Top2B.csv')
print(df_merged.shape)
df_merged.head(2)

(3194, 3273)

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,d1454,d1455,d1456,d1457,d1458,d1459,d1460,d1461,d1462,d1463
Age,54.000000,76.000000,71.000000,72.000000,79.000000,59.000000,73.0,64.000000,58.000000,68.000000,...,100.0000,100.00000,100.000000,100.000000,102.000000,102.000000,103.00000,103.00000,103.000000,103.000000
cg00018024,0.002752,0.000848,0.009915,0.015067,0.010908,0.018498,0.0,0.001305,0.003199,0.005332,...,0.0375,0.03542,0.019241,0.016848,0.021383,0.019556,0.04921,0.03947,0.017999,0.015112