In [1]:
%cd Z:\Project_Top2B\April_2023\GSE61431
import pandas as pd

Z:\Project_Top2B\April_2023\GSE61431

In [2]:
df2 = pd.read_csv('GSE61431_Age_Schiz.csv')
df2.head(2)

           Sample_ID  Age
0  6055432066_R05C02   62
1  6042316024_R01C01   31

In [3]:
df = pd.read_csv('GSE61431_dasen.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(447904, 88)

,ID_REF,6042316024_R01C01,6042316024_R01C02,6042316024_R02C01,6042316024_R02C02,6042316024_R03C01,6042316024_R04C01,6042316024_R04C02,6042316024_R05C01,6042316024_R05C02,...,6055432060_R06C02,6055432066_R01C01,6055432066_R01C02,6055432066_R02C01,6055432066_R02C02,6055432066_R03C02,6055432066_R04C01,6055432066_R04C02,6055432066_R05C01,6055432066_R05C02
0,cg00000029,0.791519,0.660126,0.702887,0.703809,0.579823,0.668174,0.606380,0.525873,0.676348,...,0.575094,0.438508,0.516228,0.508681,0.445635,0.501816,0.534989,0.496482,0.505471,0.522978
1,cg00000108,0.587039,0.397971,0.490138,0.517409,0.599145,0.507011,0.666449,0.516536,0.647332,...,0.824898,0.883104,0.876637,0.908176,0.885138,0.882077,0.880097,0.897040,0.880714,0.872645

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE61431_Schiz.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(447904, 42)

,ID_REF,6042316024_R05C02,6042316042_R05C01,6042316024_R06C02,6042316031_R05C02,6055432066_R02C01,6055432029_R03C02,6042316042_R03C01,6042316031_R04C02,6042316024_R01C01,...,6042316042_R04C02,6042316024_R02C02,6055432029_R04C01,6055432060_R03C02,6042316031_R01C01,6055432060_R04C02,6042316031_R06C01,6042316024_R03C01,6055432066_R03C02,6042316047_R03C02
0,cg00000029,0.676348,0.658071,0.539848,0.730890,0.508681,0.475478,0.713295,0.698776,0.791519,...,0.699536,0.703809,0.495580,0.549293,0.695582,0.556446,0.706433,0.579823,0.501816,0.721143
1,cg00000108,0.647332,0.507614,0.421911,0.492277,0.908176,0.900144,0.467007,0.575071,0.587039,...,0.421300,0.517409,0.870909,0.895839,0.432549,0.907311,0.414444,0.599145,0.882077,0.214706

In [5]:
import pandas as pd

%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE61431
df2 = pd.read_csv('GSE61431_Schiz.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE61431
          CpG
0  cg00005072
1  cg00010266

,ID_REF,6042316024_R05C02,6042316042_R05C01,6042316024_R06C02,6042316031_R05C02,6055432066_R02C01,6055432029_R03C02,6042316042_R03C01,6042316031_R04C02,6042316024_R01C01,...,6042316042_R04C02,6042316024_R02C02,6055432029_R04C01,6055432060_R03C02,6042316031_R01C01,6055432060_R04C02,6042316031_R06C01,6042316024_R03C01,6055432066_R03C02,6042316047_R03C02
0,cg00000029,0.676348,0.658071,0.539848,0.730890,0.508681,0.475478,0.713295,0.698776,0.791519,...,0.699536,0.703809,0.495580,0.549293,0.695582,0.556446,0.706433,0.579823,0.501816,0.721143
1,cg00000108,0.647332,0.507614,0.421911,0.492277,0.908176,0.900144,0.467007,0.575071,0.587039,...,0.421300,0.517409,0.870909,0.895839,0.432549,0.907311,0.414444,0.599145,0.882077,0.214706

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE61431_Schiz_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4349, 42)

,CpG,6042316024_R05C02,6042316042_R05C01,6042316024_R06C02,6042316031_R05C02,6055432066_R02C01,6055432029_R03C02,6042316042_R03C01,6042316031_R04C02,6042316024_R01C01,...,6042316042_R04C02,6042316024_R02C02,6055432029_R04C01,6055432060_R03C02,6042316031_R01C01,6055432060_R04C02,6042316031_R06C01,6042316024_R03C01,6055432066_R03C02,6042316047_R03C02
0,cg00005072,0.813587,0.811492,0.830698,0.831223,0.683076,0.686650,0.781010,0.844366,0.769095,...,0.844928,0.822203,0.667603,0.684213,0.839185,0.678187,0.804433,0.813851,0.616068,0.742056
1,cg00010266,0.070574,0.068420,0.094842,0.068192,0.056680,0.068532,0.077751,0.080480,0.085676,...,0.065973,0.070468,0.071743,0.072240,0.073347,0.097465,0.088285,0.059501,0.070277,0.122066