In [1]:
%cd Z:\Project_Top2B\April_2023\GSE59457
import pandas as pd

Z:\Project_Top2B\April_2023\GSE59457

In [2]:
df2 = pd.read_csv('GSE59457_Age_HIV.csv')
df2.head(2)

    Sample_ID        Age
0  GSM1438127  26.000000
1  GSM1438144  26.692771

In [3]:
df = pd.read_csv('GSE59457.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485577, 131)

,ID_REF,GSM1438127,GSM1438128,GSM1438129,GSM1438130,GSM1438131,GSM1438132,GSM1438133,GSM1438134,GSM1438135,...,GSM1438280,GSM1438281,GSM1438282,GSM1438283,GSM1438284,GSM1438285,GSM1438286,GSM1438287,GSM1438288,GSM1438289
0,cg00000029,0.590744,0.577843,0.502825,0.472922,0.459460,0.373107,0.442946,0.391964,0.430083,...,0.412217,0.375819,0.470040,0.430904,0.596196,0.498925,0.329093,0.456564,0.509893,0.503143
1,cg00000108,0.415443,0.559859,0.908392,0.881696,0.897101,0.865591,0.887143,0.868472,0.881878,...,0.851904,0.842511,0.835779,0.829506,0.486974,0.903916,0.834286,0.915421,0.874892,0.877833

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE59457_HIV.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485577, 24)

,ID_REF,GSM1438133,GSM1438127,GSM1438135,GSM1438141,GSM1438142,GSM1438139,GSM1438130,GSM1438131,GSM1438134,...,GSM1438145,GSM1438143,GSM1438136,GSM1438132,GSM1438146,GSM1438138,GSM1438129,GSM1438144,GSM1438147,GSM1438149
0,cg00000029,0.442946,0.590744,0.430083,0.611242,0.385350,0.406561,0.472922,0.459460,0.391964,...,0.461479,0.503217,0.54624,0.373107,0.444888,0.520544,0.502825,0.600710,0.450204,0.670197
1,cg00000108,0.887143,0.415443,0.881878,0.413710,0.865315,0.801937,0.881696,0.897101,0.868472,...,0.869102,0.903103,0.83437,0.865591,0.859428,0.892060,0.908392,0.584444,0.844826,0.543726

In [6]:
import pandas as pd

%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE59457
df2 = pd.read_csv('GSE59457_HIV.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE59457
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1438133,GSM1438127,GSM1438135,GSM1438141,GSM1438142,GSM1438139,GSM1438130,GSM1438131,GSM1438134,...,GSM1438145,GSM1438143,GSM1438136,GSM1438132,GSM1438146,GSM1438138,GSM1438129,GSM1438144,GSM1438147,GSM1438149
0,cg00000029,0.442946,0.590744,0.430083,0.611242,0.385350,0.406561,0.472922,0.459460,0.391964,...,0.461479,0.503217,0.54624,0.373107,0.444888,0.520544,0.502825,0.600710,0.450204,0.670197
1,cg00000108,0.887143,0.415443,0.881878,0.413710,0.865315,0.801937,0.881696,0.897101,0.868472,...,0.869102,0.903103,0.83437,0.865591,0.859428,0.892060,0.908392,0.584444,0.844826,0.543726

In [7]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE59457_HIV_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 24)

,CpG,GSM1438133,GSM1438127,GSM1438135,GSM1438141,GSM1438142,GSM1438139,GSM1438130,GSM1438131,GSM1438134,...,GSM1438145,GSM1438143,GSM1438136,GSM1438132,GSM1438146,GSM1438138,GSM1438129,GSM1438144,GSM1438147,GSM1438149
0,cg00005072,0.628862,0.805076,0.698185,0.689612,0.725995,0.747872,0.651964,0.685225,0.719648,...,0.617966,0.801978,0.631322,0.723645,0.691474,0.637068,0.688521,0.866051,0.673751,0.827010
1,cg00010266,0.048002,0.061131,0.061194,0.053103,0.069511,0.070038,0.059080,0.061755,0.059642,...,0.049101,0.062462,0.059038,0.061915,0.052870,0.060479,0.065109,0.061370,0.062024,0.042497