In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE105109
df2 = pd.read_csv('GSE105109_Age_AD.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\GSE105109

   Age          Sample_ID
0   62  3999492104_R02C01
1   62  3999492104_R02C02

In [2]:
df = pd.read_csv('GSE105109.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(367480, 370)

,ID_REF,3999337027_R01C01,3999337027_R01C02,3999337027_R02C01,3999337027_R02C02,3999337027_R03C01,3999337027_R03C02,3999337027_R04C01,3999337027_R04C02,3999337027_R05C01,...,3998567055_R02C01,3998567055_R02C02,3998567055_R03C01,3998567055_R03C02,3998567055_R04C01,3998567055_R04C02,3998567055_R05C01,3998567055_R05C02,3998567055_R06C01,3998567055_R06C02
0,cg00000029,0.325025,0.118509,0.409176,0.175113,0.376511,0.121357,0.408253,0.143368,0.296360,...,0.559045,0.213345,0.477939,0.210375,0.473725,0.172868,0.424357,0.160747,0.531015,0.167864
1,cg00000108,0.703103,0.782339,0.789926,0.837427,0.764301,0.767314,0.784824,0.808674,0.733501,...,0.323413,0.280329,0.479170,0.367234,0.350357,0.312782,0.315366,0.178407,0.316915,0.219950

In [3]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE105109_AD.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(367480, 262)

,ID_REF,3999337055_R01C02,3998567051_R03C01,3998909040_R03C01,3998567035_R03C02,3999442078_R05C01,3998567082_R06C01,3999492104_R02C02,3999492109_R02C01,3999442017_R05C02,...,3998567071_R02C02,3999492104_R02C01,3999492126_R02C01,3998567051_R05C02,3998567055_R03C01,3999337056_R01C01,3998567035_R03C01,3999442005_R02C02,3999492126_R06C01,3999510115_R01C01
0,cg00000029,0.118468,0.491339,0.534232,0.098586,0.321508,0.522397,0.097261,0.407367,0.125276,...,0.169521,0.25744,0.327723,0.182793,0.477939,0.341160,0.413019,0.142028,0.251957,0.588963
1,cg00000108,0.731404,0.271364,0.257091,0.523389,0.742222,0.301449,0.741422,0.810467,0.828987,...,0.203775,0.73845,0.806662,0.303292,0.479170,0.753183,0.550129,0.783049,0.815110,0.730577

In [5]:
%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE105109
df2 = pd.read_csv('GSE105109_AD.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE105109
          CpG
0  cg00005072
1  cg00010266

,ID_REF,3999337055_R01C02,3998567051_R03C01,3998909040_R03C01,3998567035_R03C02,3999442078_R05C01,3998567082_R06C01,3999492104_R02C02,3999492109_R02C01,3999442017_R05C02,...,3998567071_R02C02,3999492104_R02C01,3999492126_R02C01,3998567051_R05C02,3998567055_R03C01,3999337056_R01C01,3998567035_R03C01,3999442005_R02C02,3999492126_R06C01,3999510115_R01C01
0,cg00000029,0.118468,0.491339,0.534232,0.098586,0.321508,0.522397,0.097261,0.407367,0.125276,...,0.169521,0.25744,0.327723,0.182793,0.477939,0.341160,0.413019,0.142028,0.251957,0.588963
1,cg00000108,0.731404,0.271364,0.257091,0.523389,0.742222,0.301449,0.741422,0.810467,0.828987,...,0.203775,0.73845,0.806662,0.303292,0.479170,0.753183,0.550129,0.783049,0.815110,0.730577

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE105109_AD_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(3822, 262)

,CpG,3999337055_R01C02,3998567051_R03C01,3998909040_R03C01,3998567035_R03C02,3999442078_R05C01,3998567082_R06C01,3999492104_R02C02,3999492109_R02C01,3999442017_R05C02,...,3998567071_R02C02,3999492104_R02C01,3999492126_R02C01,3998567051_R05C02,3998567055_R03C01,3999337056_R01C01,3998567035_R03C01,3999442005_R02C02,3999492126_R06C01,3999510115_R01C01
0,cg00010266,0.057563,0.055300,0.050382,0.047689,0.046515,0.058482,0.089982,0.055874,0.073701,...,0.079498,0.046712,0.047353,0.078927,0.052158,0.051143,0.044557,0.065441,0.039354,0.043855
1,cg00017489,0.130147,0.073418,0.110877,0.167868,0.098500,0.087890,0.111401,0.113374,0.132415,...,0.152581,0.115878,0.101110,0.111521,0.067788,0.135480,0.154607,0.122864,0.089431,0.088180

In [2]:
import pandas as pd
%cd Z:\Project_Top2B\April_2023\regionwise\cerebellum\GSE105109
df1 = pd.read_csv ('GSE105109_Age_AD.csv')
df2 = pd.read_csv('GSE105109_Top2b_AD_cb.csv')

df = pd.merge(df1, df2, on = 'Sample_ID', how = 'inner')
df.to_csv('GSE105109_AD_Top2b_Age.csv', index = False)
df.head(2)

Z:\Project_Top2B\April_2023\regionwise\cerebellum\GSE105109

,Sample_ID,Age,cg00010266,cg00017489,cg00018024,cg00018539,cg00019511,cg00021539,cg00029353,cg00030423,...,cg27569265,cg27597926,cg27601855,cg27624319,cg27629898,cg27633533,cg27635069,cg27658416,cg27658967,cg27664120
0,3998567102_R02C01,62,0.053553,0.095451,0.060367,0.715300,0.712278,0.058088,0.042736,0.044573,...,0.099440,0.062791,0.099124,0.074531,0.738535,0.770353,0.238220,0.070024,0.059459,0.677953
1,3998567102_R02C02,62,0.082573,0.112194,0.056409,0.674001,0.785057,0.070421,0.041991,0.038856,...,0.164877,0.091230,0.146510,0.170980,0.413529,0.747043,0.270866,0.076729,0.067134,0.727508