In [1]:
%cd Z:\Project_Top2B\April_2023\GSE61431
import pandas as pd

Z:\Project_Top2B\April_2023\GSE61431

In [2]:
df2 = pd.read_csv('GSE61431_Age.csv')
df2.head(2)

           Sample_ID  Age
0  6042316024_R01C02   69
1  6042316024_R05C01   71

In [3]:
df = pd.read_csv('GSE61431_dasen.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(447904, 88)

,ID_REF,6042316024_R01C01,6042316024_R01C02,6042316024_R02C01,6042316024_R02C02,6042316024_R03C01,6042316024_R04C01,6042316024_R04C02,6042316024_R05C01,6042316024_R05C02,...,6055432060_R06C02,6055432066_R01C01,6055432066_R01C02,6055432066_R02C01,6055432066_R02C02,6055432066_R03C02,6055432066_R04C01,6055432066_R04C02,6055432066_R05C01,6055432066_R05C02
0,cg00000029,0.791519,0.660126,0.702887,0.703809,0.579823,0.668174,0.606380,0.525873,0.676348,...,0.575094,0.438508,0.516228,0.508681,0.445635,0.501816,0.534989,0.496482,0.505471,0.522978
1,cg00000108,0.587039,0.397971,0.490138,0.517409,0.599145,0.507011,0.666449,0.516536,0.647332,...,0.824898,0.883104,0.876637,0.908176,0.885138,0.882077,0.880097,0.897040,0.880714,0.872645

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE61431_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(447904, 47)

,ID_REF,6055432029_R04C02,6055432060_R06C01,6042316047_R04C01,6042316047_R02C02,6055432029_R01C02,6042316024_R01C02,6042316047_R06C01,6055432060_R02C02,6055432029_R06C01,...,6042316042_R06C01,6055432029_R06C02,6042316031_R03C01,6042316031_R05C01,6055432060_R05C01,6042316031_R01C02,6042316031_R04C01,6042316042_R02C02,6055432066_R04C01,6042316042_R03C02
0,cg00000029,0.464589,0.537999,0.696170,0.619369,0.536955,0.660126,0.662505,0.525518,0.573555,...,0.712034,0.473709,0.570480,0.613187,0.528877,0.759841,0.670936,0.739831,0.534989,0.676514
1,cg00000108,0.886966,0.909946,0.550455,0.338899,0.901006,0.397971,0.505810,0.873902,0.889837,...,0.492693,0.884829,0.505776,0.663674,0.910124,0.284181,0.552784,0.432183,0.880097,0.554843

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE61431
df2 = pd.read_csv('GSE61431_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE61431
          CpG
0  cg00005072
1  cg00010266

,ID_REF,6055432029_R04C02,6055432060_R06C01,6042316047_R04C01,6042316047_R02C02,6055432029_R01C02,6042316024_R01C02,6042316047_R06C01,6055432060_R02C02,6055432029_R06C01,...,6042316042_R06C01,6055432029_R06C02,6042316031_R03C01,6042316031_R05C01,6055432060_R05C01,6042316031_R01C02,6042316031_R04C01,6042316042_R02C02,6055432066_R04C01,6042316042_R03C02
0,cg00000029,0.464589,0.537999,0.696170,0.619369,0.536955,0.660126,0.662505,0.525518,0.573555,...,0.712034,0.473709,0.570480,0.613187,0.528877,0.759841,0.670936,0.739831,0.534989,0.676514
1,cg00000108,0.886966,0.909946,0.550455,0.338899,0.901006,0.397971,0.505810,0.873902,0.889837,...,0.492693,0.884829,0.505776,0.663674,0.910124,0.284181,0.552784,0.432183,0.880097,0.554843

In [2]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE61431_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4349, 47)

,CpG,6055432029_R04C02,6055432060_R06C01,6042316047_R04C01,6042316047_R02C02,6055432029_R01C02,6042316024_R01C02,6042316047_R06C01,6055432060_R02C02,6055432029_R06C01,...,6042316042_R06C01,6055432029_R06C02,6042316031_R03C01,6042316031_R05C01,6055432060_R05C01,6042316031_R01C02,6042316031_R04C01,6042316042_R02C02,6055432066_R04C01,6042316042_R03C02
0,cg00005072,0.68171,0.661720,0.824156,0.732799,0.687271,0.783647,0.779268,0.673291,0.656485,...,0.829042,0.736330,0.780706,0.817167,0.708631,0.842507,0.849176,0.814091,0.666665,0.768917
1,cg00010266,0.08174,0.069872,0.080804,0.063847,0.071844,0.090642,0.086596,0.064967,0.084888,...,0.077601,0.077814,0.073217,0.081765,0.070399,0.073627,0.080100,0.076006,0.067892,0.067320