In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE76105

df2 = pd.read_csv('GSE76105_Age_AD.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\GSE76105

    Sample_ID  Age
0  GSM1974300   86
1  GSM1974301   92

In [2]:
df = pd.read_csv('GSE76105.csv')

print(df.shape)
df.head(2)

(461272, 69)

,ID_REF,GSM1974300,GSM1974301,GSM1974302,GSM1974303,GSM1974304,GSM1974305,GSM1974306,GSM1974307,GSM1974308,...,GSM1974358,GSM1974359,GSM1974360,GSM1974361,GSM1974362,GSM1974363,GSM1974364,GSM1974365,GSM1974366,GSM1974367
0,cg00000029,0.596915,0.582527,0.516407,0.560808,0.551861,0.541398,0.520167,0.552568,0.611998,...,0.553792,0.481629,0.584673,0.577429,0.597464,0.561362,0.565282,0.509451,0.611112,0.551337
1,cg00000108,0.967343,0.981296,0.980842,0.974582,0.974574,0.977314,0.975771,0.979252,0.979537,...,0.977065,0.961790,0.969053,0.971246,0.973231,0.981602,0.977875,0.968485,0.980010,0.970656

In [3]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE76105_AD.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(461272, 35)

,ID_REF,GSM1974363,GSM1974336,GSM1974366,GSM1974344,GSM1974350,GSM1974347,GSM1974345,GSM1974300,GSM1974324,...,GSM1974305,GSM1974354,GSM1974309,GSM1974331,GSM1974328,GSM1974362,GSM1974323,GSM1974360,GSM1974319,GSM1974341
0,cg00000029,0.561362,0.580726,0.611112,0.590669,0.638265,0.614528,0.462670,0.596915,0.614386,...,0.541398,0.592803,0.650587,0.595713,0.584744,0.597464,0.547982,0.584673,0.607987,0.666901
1,cg00000108,0.981602,0.981057,0.980010,0.983717,0.979299,0.988332,0.976863,0.967343,0.968187,...,0.977314,0.970927,0.974200,0.974613,0.972961,0.973231,0.952831,0.969053,0.983479,0.973170

In [4]:
import pandas as pd

%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE76105
df2 = pd.read_csv('GSE76105_AD.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE76105
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1974363,GSM1974336,GSM1974366,GSM1974344,GSM1974350,GSM1974347,GSM1974345,GSM1974300,GSM1974324,...,GSM1974305,GSM1974354,GSM1974309,GSM1974331,GSM1974328,GSM1974362,GSM1974323,GSM1974360,GSM1974319,GSM1974341
0,cg00000029,0.561362,0.580726,0.611112,0.590669,0.638265,0.614528,0.462670,0.596915,0.614386,...,0.541398,0.592803,0.650587,0.595713,0.584744,0.597464,0.547982,0.584673,0.607987,0.666901
1,cg00000108,0.981602,0.981057,0.980010,0.983717,0.979299,0.988332,0.976863,0.967343,0.968187,...,0.977314,0.970927,0.974200,0.974613,0.972961,0.973231,0.952831,0.969053,0.983479,0.973170

In [5]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE76105_AD_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4491, 35)

,CpG,GSM1974363,GSM1974336,GSM1974366,GSM1974344,GSM1974350,GSM1974347,GSM1974345,GSM1974300,GSM1974324,...,GSM1974305,GSM1974354,GSM1974309,GSM1974331,GSM1974328,GSM1974362,GSM1974323,GSM1974360,GSM1974319,GSM1974341
0,cg00005072,0.762702,0.733790,0.753711,0.688511,0.761663,0.729185,0.663625,0.750203,0.798717,...,0.761247,0.757256,0.762293,0.715388,0.745004,0.785124,0.721836,0.721434,0.822795,0.757328
1,cg00010266,0.016233,0.015761,0.017064,0.019778,0.013338,0.014942,0.012776,0.009694,0.021566,...,0.011813,0.016161,0.009337,0.023899,0.023938,0.023499,0.014519,0.022685,0.014711,0.018908