In [1]:
%cd Z:\Project_Top2B\April_2023\GSE74193
import pandas as pd

Z:\Project_Top2B\April_2023\GSE74193

In [3]:
df2 = pd.read_csv('GSE74193_Age.csv')
df2.head(2)

  Sample_ID       Age
0  Sample66  0.002739
1  Sample67  0.005479

In [2]:
df = pd.read_csv('GSE74193.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485512, 676)

,CpG,Sample1,Sample2,Sample3,Sample4,Sample5,Sample6,Sample7,Sample8,Sample9,...,Sample666,Sample667,Sample668,Sample669,Sample670,Sample671,Sample672,Sample673,Sample674,Sample675
0,cg13869341,0.899729,0.900024,0.860819,0.869993,0.882916,0.896152,0.885027,0.863326,0.889406,...,0.896810,0.888805,0.899020,0.845374,0.848777,0.885100,0.866056,0.875163,0.894426,0.878247
1,cg14008030,0.672284,0.690021,0.732351,0.745440,0.776872,0.818895,0.696498,0.677681,0.761379,...,0.733004,0.749770,0.746412,0.675795,0.713369,0.693225,0.675816,0.713268,0.667796,0.736118

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE74193_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485512, 386)

,ID_REF,Sample426,Sample152,Sample436,Sample75,Sample207,Sample391,Sample161,Sample673,Sample181,...,Sample82,Sample408,Sample115,Sample238,Sample189,Sample280,Sample291,Sample466,Sample602,Sample459
0,cg13869341,0.845813,0.860408,0.883728,0.858913,0.867180,0.872740,0.877556,0.875163,0.895416,...,0.840857,0.882462,0.842463,0.881519,0.797856,0.849869,0.829495,0.886766,0.830056,0.854580
1,cg14008030,0.732909,0.674133,0.746547,0.683906,0.776261,0.706419,0.683971,0.713268,0.787780,...,0.741133,0.759803,0.672666,0.719434,0.660134,0.685806,0.686515,0.799476,0.762945,0.738036

In [5]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE74193
df2 = pd.read_csv('GSE74193_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE74193
          CpG
0  cg00005072
1  cg00010266

,ID_REF,Sample426,Sample152,Sample436,Sample75,Sample207,Sample391,Sample161,Sample673,Sample181,...,Sample82,Sample408,Sample115,Sample238,Sample189,Sample280,Sample291,Sample466,Sample602,Sample459
0,cg13869341,0.845813,0.860408,0.883728,0.858913,0.867180,0.872740,0.877556,0.875163,0.895416,...,0.840857,0.882462,0.842463,0.881519,0.797856,0.849869,0.829495,0.886766,0.830056,0.854580
1,cg14008030,0.732909,0.674133,0.746547,0.683906,0.776261,0.706419,0.683971,0.713268,0.787780,...,0.741133,0.759803,0.672666,0.719434,0.660134,0.685806,0.686515,0.799476,0.762945,0.738036

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE74193_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 386)

,CpG,Sample426,Sample152,Sample436,Sample75,Sample207,Sample391,Sample161,Sample673,Sample181,...,Sample82,Sample408,Sample115,Sample238,Sample189,Sample280,Sample291,Sample466,Sample602,Sample459
0,cg00005072,0.716560,0.774853,0.689855,0.817556,0.729921,0.775947,0.716276,0.770237,0.671988,...,0.777684,0.658529,0.777307,0.650851,0.737389,0.722140,0.605087,0.650598,0.751026,0.672788
1,cg00010266,0.072354,0.082645,0.081117,0.067289,0.070126,0.071551,0.069593,0.083321,0.072030,...,0.076363,0.061007,0.076866,0.051135,0.056504,0.067386,0.077511,0.074171,0.066639,0.077586