In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE134379

# Define the input and output file paths
input_file = "GSE134379_processedSamples_cblND.txt"
output_file = "GSE134379_cb.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

Z:\Project_Top2B\April_2023\GSE134379

In [2]:
# Removing P val columns
# renaming columns

df = pd.read_csv('GSE134379_cb.csv')
df = df[df.columns.drop(list(df.filter(regex='Value')))]
df.columns = df.columns.str.replace('Beta_value_for_', '')
print(df.shape)
df.head(2)

(411157, 180)

,CpG,CBL_0885,CBL_9753,CBL_9702,CBL_9929,CBL_9214,CBL_9639,CBL_9503,CBL_0661,CBL_0603,...,CBL_0516,CBL_0710,CBL_0704,CBL_0521,CBL_0613,CBL_0804,CBL_0840,CBL_0347,CBL_0341,CBL_0151
0,cg00000957,0.881224,0.903659,0.942309,0.908159,0.903229,0.888940,0.899979,0.876919,0.917145,...,0.900045,0.882500,0.884751,0.877105,0.895495,0.875396,0.879574,0.885292,0.919599,0.883693
1,cg00001349,0.753192,0.879895,0.758162,0.966568,0.799667,1.029258,0.789918,0.868174,0.758162,...,0.446456,0.817205,0.834613,0.854445,0.848478,0.833789,0.825090,0.831027,0.820877,0.876483

In [5]:
df2 = pd.read_csv('GSE134379_Age_CB.csv')
df2.head(2)

     Sample  Age
0  CBL_0003   94
1  CBL_0015   94

In [6]:
# Extract the names which are control
names = df2['Sample'].tolist()

# Subset df1 using the names extracted from df2
df1_subset = df[names]

# Adding ID_Ref column from df
df1_subset.insert(loc=0, column='CpG', value=df.iloc[:, 0])

df1_subset.to_csv('GSE134379_cb_noPval.csv', index = False)

print(df1_subset.shape)
df1_subset.head(2)

(411157, 180)

,CpG,CBL_0003,CBL_0015,CBL_0034,CBL_0038,CBL_0049,CBL_0053,CBL_0114,CBL_0123,CBL_0131,...,CBL_9929,CBL_9931,CBL_9944,CBL_9946,CBL_9947,CBL_9950,CBL_9954,CBL_9958,CBL_9959,CBL_9966
0,cg00000957,0.896715,0.904994,0.872144,0.873863,0.869349,0.906788,0.895483,0.882774,0.905154,...,0.908159,0.898647,0.890258,0.879049,0.914658,0.905912,0.901024,0.891055,0.901787,0.883958
1,cg00001349,0.815334,0.834817,0.822672,0.763359,0.822100,0.830697,0.893509,0.869132,0.921131,...,0.966568,0.784931,0.853769,0.838350,0.944121,0.846555,0.876750,0.866495,0.867881,0.851237

## Subsetting only Top 2 beta associated CpGs

In [3]:
%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE134379
df2 = pd.read_csv('GSE134379_cb_noPval.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE134379
          CpG
0  cg00005072
1  cg00010266

,CpG,CBL_0003,CBL_0015,CBL_0034,CBL_0038,CBL_0049,CBL_0053,CBL_0114,CBL_0123,CBL_0131,...,CBL_9929,CBL_9931,CBL_9944,CBL_9946,CBL_9947,CBL_9950,CBL_9954,CBL_9958,CBL_9959,CBL_9966
0,cg00000957,0.896715,0.904994,0.872144,0.873863,0.869349,0.906788,0.895483,0.882774,0.905154,...,0.908159,0.898647,0.890258,0.879049,0.914658,0.905912,0.901024,0.891055,0.901787,0.883958
1,cg00001349,0.815334,0.834817,0.822672,0.763359,0.822100,0.830697,0.893509,0.869132,0.921131,...,0.966568,0.784931,0.853769,0.838350,0.944121,0.846555,0.876750,0.866495,0.867881,0.851237

In [4]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, on ='CpG', how ='inner')
merged_df.to_csv('GSE134379_cb_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4091, 180)

,CpG,CBL_0003,CBL_0015,CBL_0034,CBL_0038,CBL_0049,CBL_0053,CBL_0114,CBL_0123,CBL_0131,...,CBL_9929,CBL_9931,CBL_9944,CBL_9946,CBL_9947,CBL_9950,CBL_9954,CBL_9958,CBL_9959,CBL_9966
0,cg00005072,0.825459,0.815256,0.862854,0.835293,0.873471,0.823323,0.844127,0.740984,0.864584,...,0.869143,0.840477,0.845966,0.868982,0.818600,0.818174,0.823217,0.820646,0.886531,0.827143
1,cg00010266,0.028667,0.032150,0.033644,0.034538,0.044101,0.039721,0.041450,0.035605,0.074023,...,0.037297,0.039460,0.032229,0.039493,0.029478,0.024338,0.033290,0.038119,0.029866,0.046284