In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE105109

# Define the input and output file paths
input_file = "GSE105109_GEO_beta.txt"
output_file = "GSE105109.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

Z:\Project_Top2B\April_2023\GSE105109

In [3]:
import re

# Define the input and output file paths
input_file = "GSE105109_Age.txt"
output_file = "GSE105109_Age.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = []
for line in lines:
    row = []
    for match in re.findall(r'"(.*?)"|(\S+)', line):
        row.append(match[0] if match[0] else match[1])
    data.append(row)

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

# Import the 're' module for regular expressions
import re

# Define the input and output file paths
input_file = "GSE105109_Age.txt"
output_file = "GSE105109_Age.csv"

# Read the text file
with open(input_file, 'r') as f:
    # Read all lines from the file
    lines = f.readlines()

# Create an empty list to store the data
data = []

# Loop through each line in the input file
for line in lines:
    # Create an empty list to store the values for each row
    row = []

    # Use a regular expression to find all matches in the line
    for match in re.findall(r'"(.*?)"|(\S+)', line):
        # If the match is in quotes, add it to the row
        if match[0]:
            row.append(match[0])
        # Otherwise, add the match without quotes to the row
        else:
            row.append(match[1])

    # Add the row to the data list
    data.append(row)

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    # Create a CSV writer object
    writer = csv.writer(f)

    # Write each row of data to the CSV file
    writer.writerows(data)

In [5]:
df2 = pd.read_csv('GSE105109_Age.csv')
df2.head(2)

           Sample_ID  Age
0  3999337027_R01C01   88
1  3999337027_R01C02   88

In [6]:
df = pd.read_csv('GSE105109.csv')

print(df.shape)
df.head(2)

(367480, 370)

,ID_REF,3999337027_R01C01,3999337027_R01C02,3999337027_R02C01,3999337027_R02C02,3999337027_R03C01,3999337027_R03C02,3999337027_R04C01,3999337027_R04C02,3999337027_R05C01,...,3998567055_R02C01,3998567055_R02C02,3998567055_R03C01,3998567055_R03C02,3998567055_R04C01,3998567055_R04C02,3998567055_R05C01,3998567055_R05C02,3998567055_R06C01,3998567055_R06C02
0,cg00000029,0.325025,0.118509,0.409176,0.175113,0.376511,0.121357,0.408253,0.143368,0.296360,...,0.559045,0.213345,0.477939,0.210375,0.473725,0.172868,0.424357,0.160747,0.531015,0.167864
1,cg00000108,0.703103,0.782339,0.789926,0.837427,0.764301,0.767314,0.784824,0.808674,0.733501,...,0.323413,0.280329,0.479170,0.367234,0.350357,0.312782,0.315366,0.178407,0.316915,0.219950

In [8]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE105109_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(367480, 109)

,ID_REF,3998909040_R06C01,3999337016_R03C01,3999442078_R04C02,3999442017_R06C02,3998567066_R06C01,3999492090_R06C02,3998567071_R06C02,3998567102_R06C01,3999442036_R05C02,...,3998567055_R04C01,3998920160_R03C01,3999442017_R06C01,3998568002_R03C01,3998920136_R06C01,3998567107_R01C02,3999510116_R06C02,3998568002_R06C02,3999337016_R04C02,3999442017_R01C02
0,cg00000029,0.468180,0.292761,0.155638,0.162583,0.488115,0.145555,0.174339,0.471557,0.109328,...,0.473725,0.512100,0.280962,0.504714,0.450932,0.165555,0.119020,0.160881,0.088318,0.184338
1,cg00000108,0.395761,0.741619,0.797029,0.827957,0.361757,0.717423,0.241408,0.278639,0.804916,...,0.350357,0.229486,0.807673,0.295549,0.342645,0.212309,0.834666,0.170494,0.816523,0.782698

In [1]:
import pandas as pd

In [3]:
%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE105109
df2 = pd.read_csv('GSE105109_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE105109
          CpG
0  cg00005072
1  cg00010266

,ID_REF,3998909040_R06C01,3999337016_R03C01,3999442078_R04C02,3999442017_R06C02,3998567066_R06C01,3999492090_R06C02,3998567071_R06C02,3998567102_R06C01,3999442036_R05C02,...,3998567055_R04C01,3998920160_R03C01,3999442017_R06C01,3998568002_R03C01,3998920136_R06C01,3998567107_R01C02,3999510116_R06C02,3998568002_R06C02,3999337016_R04C02,3999442017_R01C02
0,cg00000029,0.468180,0.292761,0.155638,0.162583,0.488115,0.145555,0.174339,0.471557,0.109328,...,0.473725,0.512100,0.280962,0.504714,0.450932,0.165555,0.119020,0.160881,0.088318,0.184338
1,cg00000108,0.395761,0.741619,0.797029,0.827957,0.361757,0.717423,0.241408,0.278639,0.804916,...,0.350357,0.229486,0.807673,0.295549,0.342645,0.212309,0.834666,0.170494,0.816523,0.782698

In [4]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE105109_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(3822, 109)

,CpG,3998909040_R06C01,3999337016_R03C01,3999442078_R04C02,3999442017_R06C02,3998567066_R06C01,3999492090_R06C02,3998567071_R06C02,3998567102_R06C01,3999442036_R05C02,...,3998567055_R04C01,3998920160_R03C01,3999442017_R06C01,3998568002_R03C01,3998920136_R06C01,3998567107_R01C02,3999510116_R06C02,3998568002_R06C02,3999337016_R04C02,3999442017_R01C02
0,cg00010266,0.066783,0.041097,0.068676,0.047024,0.054283,0.061795,0.077882,0.054948,0.058551,...,0.052863,0.052567,0.041408,0.048977,0.045420,0.079362,0.067655,0.105449,0.064924,0.059408
1,cg00017489,0.093923,0.161238,0.126952,0.100777,0.080080,0.114940,0.076821,0.076184,0.125392,...,0.097094,0.078106,0.089839,0.083536,0.086958,0.123970,0.201162,0.114473,0.137414,0.089222