In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE109627

df2 = pd.read_csv('GSE109627_Age_AD.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\GSE109627

  Sample_ID  Age
0  SAMPLE_1   82
1  SAMPLE_2   75

In [2]:
# Removing P val columns
# renaming columns

df = pd.read_csv('GSE109627.csv')
df = df[df.columns.drop(list(df.filter(regex='Pval')))]
df.columns = df.columns.str.replace('_Beta', '')
print(df.shape)
df.head(2)

(485512, 163)

,ID_REF,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_4,SAMPLE_5,SAMPLE_6,SAMPLE_7,SAMPLE_8,SAMPLE_9,...,SAMPLE_153,SAMPLE_154,SAMPLE_155,SAMPLE_156,SAMPLE_157,SAMPLE_158,SAMPLE_159,SAMPLE_160,SAMPLE_161,SAMPLE_162
0,cg00050873,0.806987,0.565598,0.505929,0.820434,0.575377,0.869761,0.871929,0.896045,0.859511,...,0.814888,0.683646,0.797993,0.709945,0.848219,0.818463,0.824491,0.662921,0.882023,0.525126
1,cg00212031,0.031241,0.262295,0.378747,0.032407,0.390625,0.048089,0.027126,0.034920,0.034953,...,0.019384,0.380645,0.027980,0.529716,0.019491,0.038995,0.021223,0.518900,0.012447,0.414414

In [3]:
# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485512, 163)

,ID_REF,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_4,SAMPLE_5,SAMPLE_6,SAMPLE_7,SAMPLE_8,SAMPLE_9,...,SAMPLE_153,SAMPLE_154,SAMPLE_155,SAMPLE_156,SAMPLE_157,SAMPLE_158,SAMPLE_159,SAMPLE_160,SAMPLE_161,SAMPLE_162
0,cg00050873,0.806987,0.565598,0.505929,0.820434,0.575377,0.869761,0.871929,0.896045,0.859511,...,0.814888,0.683646,0.797993,0.709945,0.848219,0.818463,0.824491,0.662921,0.882023,0.525126
1,cg00212031,0.031241,0.262295,0.378747,0.032407,0.390625,0.048089,0.027126,0.034920,0.034953,...,0.019384,0.380645,0.027980,0.529716,0.019491,0.038995,0.021223,0.518900,0.012447,0.414414

In [4]:

# Extract the names which are control
names = df2['Sample_ID'].tolist()

# Subset df1 using the names extracted from df2
df1_subset = df[names]

# Adding ID_Ref column from df
df1_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df1_subset.to_csv('GSE109627_AD.csv', index = False)

print(df1_subset.shape)
df1_subset.head(2)

(485512, 92)

,ID_REF,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_6,SAMPLE_7,SAMPLE_8,SAMPLE_9,SAMPLE_13,SAMPLE_14,...,SAMPLE_149,SAMPLE_150,SAMPLE_151,SAMPLE_152,SAMPLE_153,SAMPLE_155,SAMPLE_157,SAMPLE_158,SAMPLE_161,SAMPLE_162
0,cg00050873,0.806987,0.565598,0.505929,0.869761,0.871929,0.896045,0.859511,0.590452,0.833639,...,0.789124,0.866029,0.750600,0.811092,0.814888,0.797993,0.848219,0.818463,0.882023,0.525126
1,cg00212031,0.031241,0.262295,0.378747,0.048089,0.027126,0.034920,0.034953,0.514658,0.077441,...,0.036950,0.014424,0.416244,0.020345,0.019384,0.027980,0.019491,0.038995,0.012447,0.414414

In [5]:
%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE109627
df2 = pd.read_csv('GSE109627_AD.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE109627
          CpG
0  cg00005072
1  cg00010266

,ID_REF,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_6,SAMPLE_7,SAMPLE_8,SAMPLE_9,SAMPLE_13,SAMPLE_14,...,SAMPLE_149,SAMPLE_150,SAMPLE_151,SAMPLE_152,SAMPLE_153,SAMPLE_155,SAMPLE_157,SAMPLE_158,SAMPLE_161,SAMPLE_162
0,cg00050873,0.806987,0.565598,0.505929,0.869761,0.871929,0.896045,0.859511,0.590452,0.833639,...,0.789124,0.866029,0.750600,0.811092,0.814888,0.797993,0.848219,0.818463,0.882023,0.525126
1,cg00212031,0.031241,0.262295,0.378747,0.048089,0.027126,0.034920,0.034953,0.514658,0.077441,...,0.036950,0.014424,0.416244,0.020345,0.019384,0.027980,0.019491,0.038995,0.012447,0.414414

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE109627_AD_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 92)

,CpG,SAMPLE_1,SAMPLE_2,SAMPLE_3,SAMPLE_6,SAMPLE_7,SAMPLE_8,SAMPLE_9,SAMPLE_13,SAMPLE_14,...,SAMPLE_149,SAMPLE_150,SAMPLE_151,SAMPLE_152,SAMPLE_153,SAMPLE_155,SAMPLE_157,SAMPLE_158,SAMPLE_161,SAMPLE_162
0,cg00005072,0.671313,0.627177,0.659539,0.796378,0.698175,0.663790,0.651821,0.631792,0.685891,...,0.730889,0.775940,0.706381,0.694246,0.636026,0.786292,0.754671,0.797718,0.733419,0.693926
1,cg00010266,0.081390,0.103213,0.083686,0.088197,0.106531,0.107547,0.091281,0.080967,0.060803,...,0.085376,0.068415,0.083295,0.082904,0.096172,0.087113,0.106247,0.100573,0.093997,0.096979