In [1]:
%cd Z:\Project_Top2B\April_2023\GSE74193
import pandas as pd

Z:\Project_Top2B\April_2023\GSE74193

In [2]:
df2 = pd.read_csv('GSE74193_Age_Schiz.csv')
df2.head(2)

   Sample_ID        Age
0  Sample169  17.238356
1  Sample173  18.016438

In [3]:
df = pd.read_csv('GSE74193.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485512, 676)

,CpG,Sample1,Sample2,Sample3,Sample4,Sample5,Sample6,Sample7,Sample8,Sample9,...,Sample666,Sample667,Sample668,Sample669,Sample670,Sample671,Sample672,Sample673,Sample674,Sample675
0,cg13869341,0.899729,0.900024,0.860819,0.869993,0.882916,0.896152,0.885027,0.863326,0.889406,...,0.896810,0.888805,0.899020,0.845374,0.848777,0.885100,0.866056,0.875163,0.894426,0.878247
1,cg14008030,0.672284,0.690021,0.732351,0.745440,0.776872,0.818895,0.696498,0.677681,0.761379,...,0.733004,0.749770,0.746412,0.675795,0.713369,0.693225,0.675816,0.713268,0.667796,0.736118

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE74193_Schiz.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485512, 226)

,ID_REF,Sample472,Sample636,Sample253,Sample263,Sample307,Sample363,Sample371,Sample526,Sample532,...,Sample269,Sample319,Sample430,Sample431,Sample229,Sample533,Sample315,Sample664,Sample642,Sample424
0,cg13869341,0.887481,0.886184,0.824168,0.843805,0.877783,0.898484,0.861472,0.801713,0.887379,...,0.882650,0.876971,0.867957,0.821749,0.917750,0.804454,0.821128,0.860678,0.879758,0.842082
1,cg14008030,0.715402,0.721333,0.604478,0.668571,0.736664,0.686837,0.768968,0.683061,0.714627,...,0.766807,0.731045,0.741327,0.736508,0.691425,0.654536,0.639582,0.650848,0.712562,0.714992

In [5]:

%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE74193
df2 = pd.read_csv('GSE74193_Schiz.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE74193
          CpG
0  cg00005072
1  cg00010266

,ID_REF,Sample472,Sample636,Sample253,Sample263,Sample307,Sample363,Sample371,Sample526,Sample532,...,Sample269,Sample319,Sample430,Sample431,Sample229,Sample533,Sample315,Sample664,Sample642,Sample424
0,cg13869341,0.887481,0.886184,0.824168,0.843805,0.877783,0.898484,0.861472,0.801713,0.887379,...,0.882650,0.876971,0.867957,0.821749,0.917750,0.804454,0.821128,0.860678,0.879758,0.842082
1,cg14008030,0.715402,0.721333,0.604478,0.668571,0.736664,0.686837,0.768968,0.683061,0.714627,...,0.766807,0.731045,0.741327,0.736508,0.691425,0.654536,0.639582,0.650848,0.712562,0.714992

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE74193_Top2b_Schiz.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 226)

,CpG,Sample472,Sample636,Sample253,Sample263,Sample307,Sample363,Sample371,Sample526,Sample532,...,Sample269,Sample319,Sample430,Sample431,Sample229,Sample533,Sample315,Sample664,Sample642,Sample424
0,cg00005072,0.726553,0.718621,0.679413,0.776255,0.760544,0.694913,0.617965,0.704579,0.688041,...,0.731387,0.705157,0.707220,0.684818,0.706371,0.724581,0.705670,0.672487,0.829807,0.717087
1,cg00010266,0.082635,0.075242,0.087518,0.068602,0.088061,0.068361,0.048517,0.054934,0.049948,...,0.066509,0.071456,0.089913,0.073203,0.070683,0.070641,0.088002,0.074721,0.068201,0.069922