In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE76105

df2 = pd.read_csv('GSE76105_Age.csv')
df2.head(2)

Z:\Project_Top2B\April_2023\GSE76105

    Sample_ID  Age
0  GSM1974302   84
1  GSM1974303   74

In [2]:
df = pd.read_csv('GSE76105.csv')

print(df.shape)
df.head(2)

(461272, 69)

,ID_REF,GSM1974300,GSM1974301,GSM1974302,GSM1974303,GSM1974304,GSM1974305,GSM1974306,GSM1974307,GSM1974308,...,GSM1974358,GSM1974359,GSM1974360,GSM1974361,GSM1974362,GSM1974363,GSM1974364,GSM1974365,GSM1974366,GSM1974367
0,cg00000029,0.596915,0.582527,0.516407,0.560808,0.551861,0.541398,0.520167,0.552568,0.611998,...,0.553792,0.481629,0.584673,0.577429,0.597464,0.561362,0.565282,0.509451,0.611112,0.551337
1,cg00000108,0.967343,0.981296,0.980842,0.974582,0.974574,0.977314,0.975771,0.979252,0.979537,...,0.977065,0.961790,0.969053,0.971246,0.973231,0.981602,0.977875,0.968485,0.980010,0.970656

In [3]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE76105_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(461272, 35)

,ID_REF,GSM1974326,GSM1974357,GSM1974312,GSM1974320,GSM1974348,GSM1974364,GSM1974334,GSM1974359,GSM1974329,...,GSM1974302,GSM1974311,GSM1974338,GSM1974321,GSM1974352,GSM1974342,GSM1974356,GSM1974335,GSM1974313,GSM1974306
0,cg00000029,0.581871,0.671593,0.588460,0.559748,0.627934,0.565282,0.634819,0.481629,0.545147,...,0.516407,0.465578,0.512795,0.512253,0.583549,0.600409,0.654439,0.557914,0.598752,0.520167
1,cg00000108,0.971805,0.981864,0.983608,0.978808,0.989334,0.977875,0.969264,0.961790,0.976891,...,0.980842,0.972238,0.990672,0.976556,0.967231,0.975901,0.981427,0.979780,0.983819,0.975771

In [2]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE76105
df2 = pd.read_csv('GSE76105_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE76105
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1974326,GSM1974357,GSM1974312,GSM1974320,GSM1974348,GSM1974364,GSM1974334,GSM1974359,GSM1974329,...,GSM1974302,GSM1974311,GSM1974338,GSM1974321,GSM1974352,GSM1974342,GSM1974356,GSM1974335,GSM1974313,GSM1974306
0,cg00000029,0.581871,0.671593,0.588460,0.559748,0.627934,0.565282,0.634819,0.481629,0.545147,...,0.516407,0.465578,0.512795,0.512253,0.583549,0.600409,0.654439,0.557914,0.598752,0.520167
1,cg00000108,0.971805,0.981864,0.983608,0.978808,0.989334,0.977875,0.969264,0.961790,0.976891,...,0.980842,0.972238,0.990672,0.976556,0.967231,0.975901,0.981427,0.979780,0.983819,0.975771

In [3]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE76105_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4491, 35)

,CpG,GSM1974326,GSM1974357,GSM1974312,GSM1974320,GSM1974348,GSM1974364,GSM1974334,GSM1974359,GSM1974329,...,GSM1974302,GSM1974311,GSM1974338,GSM1974321,GSM1974352,GSM1974342,GSM1974356,GSM1974335,GSM1974313,GSM1974306
0,cg00005072,0.680403,0.717222,0.717406,0.803759,0.769238,0.641959,0.749781,0.713426,0.75011,...,0.756519,0.658559,0.702587,0.702106,0.680706,0.769336,0.728117,0.719625,0.769951,0.734461
1,cg00010266,0.019267,0.009696,0.008888,0.011186,0.009463,0.010720,0.006880,0.015670,0.01161,...,0.012434,0.012979,0.013466,0.017501,0.022529,0.023827,0.005163,0.013807,0.011576,0.023649