In [1]:
import csv
import pandas as pd

%cd Z:\Project_Top2B\April_2023\GSE134379

# Define the input and output file paths
input_file = "GSE134379_processedSamples_cblAD.txt"
output_file = "GSE134379_cb_AD.csv"

# Read the text file
with open(input_file, 'r') as f:
    lines = f.readlines()

# Create a list of lists, where each sublist represents a row in the CSV file
data = [line.strip().split() for line in lines]

# Write the data to the CSV file
with open(output_file, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

Z:\Project_Top2B\April_2023\GSE134379

In [2]:
# Removing P val columns
# renaming columns

df = pd.read_csv('GSE134379_cb_AD.csv')
df = df[df.columns.drop(list(df.filter(regex='Detection')))]
df.columns = df.columns.str.replace('Beta_value_for_', '')
print(df.shape)
df.head(2)

(411157, 226)

,CpG,CBL_0334,CBL_0845,CBL_0859,CBL_0801,CBL_0145,CBL_0004,CBL_9941,CBL_9906,CBL_0047,...,CBL_0771,CBL_0848,CBL_0750,CBL_0121,CBL_0314,CBL_0012,CBL_0037,CBL_9420,CBL_9720,CBL_0359
0,cg00000957,0.895030,0.887296,0.890852,0.913813,0.883104,0.889160,0.897099,0.876794,0.889817,...,0.877116,0.878745,0.856701,0.890181,0.898533,0.890427,0.872442,0.894792,0.926648,0.895680
1,cg00001349,0.768742,0.865166,0.767041,0.856997,0.791009,0.823427,0.843234,0.802438,0.840000,...,0.862256,0.804772,0.854475,0.830541,0.846186,0.814402,0.854404,0.800881,0.853681,0.830175

In [3]:
df2 = pd.read_csv('GSE134379_Age_CB_AD.csv')
df2.head(2)

  Sample_ID  Age
0  CBL_0334   88
1  CBL_0845   78

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='CpG', value=df.iloc[:, 0])

df_subset.to_csv('GSE134379_cb_noPval_AD.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(411157, 226)

,CpG,CBL_0712,CBL_0145,CBL_0314,CBL_0729,CBL_9934,CBL_9611,CBL_0702,CBL_0667,CBL_0037,...,CBL_0428,CBL_9744,CBL_0321,CBL_0336,CBL_0011,CBL_0109,CBL_9807,CBL_0829,CBL_0222,CBL_0133
0,cg00000957,0.890804,0.883104,0.898533,0.883386,0.865126,0.876966,0.886133,0.887032,0.872442,...,0.887613,0.900117,0.914629,0.908254,0.908169,0.871128,0.867828,0.912422,0.873065,0.865840
1,cg00001349,0.820633,0.791009,0.846186,0.764970,0.851278,0.862046,0.791340,0.822713,0.854404,...,0.809588,0.840648,0.873566,0.835539,0.837575,0.848737,0.800725,0.776483,0.779653,0.785735

## Subsetting only Top 2 beta associated CpGs

In [5]:
%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE134379
df2 = pd.read_csv('GSE134379_cb_noPval_AD.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE134379
          CpG
0  cg00005072
1  cg00010266

,CpG,CBL_0712,CBL_0145,CBL_0314,CBL_0729,CBL_9934,CBL_9611,CBL_0702,CBL_0667,CBL_0037,...,CBL_0428,CBL_9744,CBL_0321,CBL_0336,CBL_0011,CBL_0109,CBL_9807,CBL_0829,CBL_0222,CBL_0133
0,cg00000957,0.890804,0.883104,0.898533,0.883386,0.865126,0.876966,0.886133,0.887032,0.872442,...,0.887613,0.900117,0.914629,0.908254,0.908169,0.871128,0.867828,0.912422,0.873065,0.865840
1,cg00001349,0.820633,0.791009,0.846186,0.764970,0.851278,0.862046,0.791340,0.822713,0.854404,...,0.809588,0.840648,0.873566,0.835539,0.837575,0.848737,0.800725,0.776483,0.779653,0.785735

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, on ='CpG', how ='inner')
merged_df.to_csv('GSE134379_Top2b_cb_AD.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4091, 226)

,CpG,CBL_0712,CBL_0145,CBL_0314,CBL_0729,CBL_9934,CBL_9611,CBL_0702,CBL_0667,CBL_0037,...,CBL_0428,CBL_9744,CBL_0321,CBL_0336,CBL_0011,CBL_0109,CBL_9807,CBL_0829,CBL_0222,CBL_0133
0,cg00005072,0.849516,0.823678,0.878416,0.874476,0.850903,0.854383,0.835831,0.808402,0.820843,...,0.826030,0.778685,0.833696,0.863125,0.773576,0.853932,0.779675,0.800547,0.852243,0.788395
1,cg00010266,0.033534,0.034481,0.028308,0.037136,0.047796,0.038433,0.033056,0.028931,0.026478,...,0.025195,0.031934,0.034875,0.057728,0.026339,0.046729,0.028433,0.032905,0.047752,0.035538

In [7]:
%cd Z:\Project_Top2B\April_2023\GSE134379
import pandas as prash

df1 = prash.read_csv('GSE134379_Age_CB_AD.csv')
df2 = prash.read_csv('GSE134379_Top2b_cb_AD.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023\GSE134379
  Sample_ID  Age
0  CBL_0334   88
1  CBL_0845   78

,Unnamed: 0,CpG,CBL_0712,CBL_0145,CBL_0314,CBL_0729,CBL_9934,CBL_9611,CBL_0702,CBL_0667,...,CBL_0428,CBL_9744,CBL_0321,CBL_0336,CBL_0011,CBL_0109,CBL_9807,CBL_0829,CBL_0222,CBL_0133
0,0,cg00005072,0.849516,0.823678,0.878416,0.874476,0.850903,0.854383,0.835831,0.808402,...,0.826030,0.778685,0.833696,0.863125,0.773576,0.853932,0.779675,0.800547,0.852243,0.788395
1,1,cg00010266,0.033534,0.034481,0.028308,0.037136,0.047796,0.038433,0.033056,0.028931,...,0.025195,0.031934,0.034875,0.057728,0.026339,0.046729,0.028433,0.032905,0.047752,0.035538

In [9]:
# Merge df1 and df2 on the common column 'col1'
merged_df = prash.merge(df1, df2, left_on ='Sample_ID', right_on = 'CpG', how ='inner')
merged_df.to_csv('GSE134379_cb_Top2b_Age_AD.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(0, 229)

Empty DataFrame
Columns: [Sample_ID, Age, Unnamed: 0, CpG, CBL_0712, CBL_0145, CBL_0314, CBL_0729, CBL_9934, CBL_9611, CBL_0702, CBL_0667, CBL_0037, CBL_0332, CBL_0734, CBL_0153, CBL_9420, CBL_0552, CBL_0239, CBL_9928, CBL_0845, CBL_0807, CBL_0706, CBL_9939, CBL_9961, CBL_9631, CBL_9715, CBL_9609, CBL_0801, CBL_0013, CBL_9952, CBL_0742, CBL_9621, CBL_9725, CBL_0848, CBL_9428, CBL_9910, CBL_0557, CBL_0422, CBL_9729, CBL_0505, CBL_9810, CBL_0648, CBL_9953, CBL_9828, CBL_0047, CBL_9641, CBL_0869, CBL_0330, CBL_0841, CBL_0757, CBL_9718, CBL_0820, CBL_0466, CBL_0611, CBL_9960, CBL_0307, CBL_0033, CBL_0658, CBL_0112, CBL_0018, CBL_9620, CBL_0111, CBL_0004, CBL_9748, CBL_0444, CBL_0050, CBL_9629, CBL_0822, CBL_9956, CBL_0012, CBL_0501, CBL_0406, CBL_0235, CBL_9721, CBL_0010, CBL_0340, CBL_0035, CBL_9650, CBL_0539, CBL_9727, CBL_0116, CBL_9707, CBL_0449, CBL_0717, CBL_0121, CBL_0830, CBL_9217, CBL_0148, CBL_9531, CBL_0301, CBL_9716, CBL_0630, CBL_0409, CBL_0306, CBL_0715, CBL_9722, CBL_9216, CBL_9701, CBL_0228, ...]
Index: []

[0 rows x 229 columns]