In [1]:
%cd Z:\Project_Top2B\April_2023\GSE53162
import pandas as pd

Z:\Project_Top2B\April_2023\GSE53162

In [2]:
df2 = pd.read_csv('GSE53162_Age.csv')
df2.head(2)

    Sample_ID  Age
0  GSM1283235   22
1  GSM1283237   36

In [3]:
df = pd.read_csv('GSE53162.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485512, 41)

,ID_REF,GSM1283234,GSM1283235,GSM1283236,GSM1283237,GSM1283238,GSM1283239,GSM1283240,GSM1283241,GSM1283242,...,GSM1283264,GSM1283265,GSM1283266,GSM1283267,GSM1283268,GSM1283269,GSM1283270,GSM1283271,GSM1283272,GSM1283273
0,cg00000029,0.493948,0.460208,0.505294,0.527448,0.518413,0.513362,0.514097,0.484241,0.498951,...,0.775312,0.715112,0.708935,0.734980,0.702218,0.694026,0.721871,0.689381,0.670400,0.801641
1,cg00000108,0.906888,0.881898,0.882825,0.895423,0.904080,0.868749,0.868257,0.925761,0.890180,...,0.275051,0.436430,0.379023,0.527408,0.339163,0.640692,0.376772,0.596968,0.482333,0.478636

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE53162_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485512, 22)

,ID_REF,GSM1283256,GSM1283269,GSM1283247,GSM1283273,GSM1283270,GSM1283237,GSM1283268,GSM1283257,GSM1283242,...,GSM1283240,GSM1283251,GSM1283252,GSM1283249,GSM1283235,GSM1283248,GSM1283245,GSM1283243,GSM1283258,GSM1283271
0,cg00000029,0.487944,0.694026,0.456264,0.801641,0.721871,0.527448,0.702218,0.432468,0.498951,...,0.514097,0.495261,0.500530,0.464827,0.460208,0.484921,0.473150,0.488261,0.501058,0.689381
1,cg00000108,0.905495,0.640692,0.906631,0.478636,0.376772,0.895423,0.339163,0.909795,0.890180,...,0.868257,0.902966,0.896839,0.896595,0.881898,0.899676,0.909525,0.881396,0.895177,0.596968

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE53162
df2 = pd.read_csv('GSE53162_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE53162
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1283256,GSM1283269,GSM1283247,GSM1283273,GSM1283270,GSM1283237,GSM1283268,GSM1283257,GSM1283242,...,GSM1283240,GSM1283251,GSM1283252,GSM1283249,GSM1283235,GSM1283248,GSM1283245,GSM1283243,GSM1283258,GSM1283271
0,cg00000029,0.487944,0.694026,0.456264,0.801641,0.721871,0.527448,0.702218,0.432468,0.498951,...,0.514097,0.495261,0.500530,0.464827,0.460208,0.484921,0.473150,0.488261,0.501058,0.689381
1,cg00000108,0.905495,0.640692,0.906631,0.478636,0.376772,0.895423,0.339163,0.909795,0.890180,...,0.868257,0.902966,0.896839,0.896595,0.881898,0.899676,0.909525,0.881396,0.895177,0.596968

In [2]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE53162_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 22)

,CpG,GSM1283256,GSM1283269,GSM1283247,GSM1283273,GSM1283270,GSM1283237,GSM1283268,GSM1283257,GSM1283242,...,GSM1283240,GSM1283251,GSM1283252,GSM1283249,GSM1283235,GSM1283248,GSM1283245,GSM1283243,GSM1283258,GSM1283271
0,cg00005072,0.67167,0.868145,0.698848,0.836534,0.844755,0.746615,0.822712,0.662935,0.694080,...,0.757304,0.751119,0.665138,0.652212,0.721249,0.615700,0.690991,0.652830,0.685081,0.796525
1,cg00010266,0.07037,0.063563,0.052250,0.073333,0.062735,0.081757,0.071251,0.072944,0.068553,...,0.073147,0.071649,0.072370,0.058869,0.064023,0.050898,0.061144,0.059798,0.081485,0.077830