In [1]:
%cd Z:\Project_Top2B\April_2023\GSE59457
import pandas as pd

Z:\Project_Top2B\April_2023\GSE59457

In [2]:
df2 = pd.read_csv('GSE59457_Age.csv')
df2.head(2)

    Sample_ID  Age
0  GSM1438150   38
1  GSM1438220   53

In [3]:
df = pd.read_csv('GSE59457.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(485577, 131)

,ID_REF,GSM1438127,GSM1438128,GSM1438129,GSM1438130,GSM1438131,GSM1438132,GSM1438133,GSM1438134,GSM1438135,...,GSM1438280,GSM1438281,GSM1438282,GSM1438283,GSM1438284,GSM1438285,GSM1438286,GSM1438287,GSM1438288,GSM1438289
0,cg00000029,0.590744,0.577843,0.502825,0.472922,0.459460,0.373107,0.442946,0.391964,0.430083,...,0.412217,0.375819,0.470040,0.430904,0.596196,0.498925,0.329093,0.456564,0.509893,0.503143
1,cg00000108,0.415443,0.559859,0.908392,0.881696,0.897101,0.865591,0.887143,0.868472,0.881878,...,0.851904,0.842511,0.835779,0.829506,0.486974,0.903916,0.834286,0.915421,0.874892,0.877833

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE59457_Control.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(485577, 32)

,ID_REF,GSM1438279,GSM1438226,GSM1438283,GSM1438165,GSM1438159,GSM1438223,GSM1438288,GSM1438167,GSM1438150,...,GSM1438184,GSM1438155,GSM1438163,GSM1438181,GSM1438178,GSM1438217,GSM1438289,GSM1438229,GSM1438151,GSM1438271
0,cg00000029,0.430084,0.474732,0.430904,0.459381,0.388044,0.478629,0.509893,0.445758,0.656940,...,0.481063,0.385132,0.543896,0.416861,0.483839,0.506768,0.503143,0.429954,0.535417,0.40371
1,cg00000108,0.819519,0.883696,0.829506,0.869255,0.877463,0.892246,0.874892,0.786364,0.445932,...,0.828604,0.895439,0.898828,0.868023,0.902865,0.896922,0.877833,0.923635,0.904021,0.83456

In [1]:
import pandas as pd

%cd Z:\Project_Top2B\April_2023
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE59457
df2 = pd.read_csv('GSE59457_Control.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B\April_2023
Z:\Project_Top2B\April_2023\GSE59457
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM1438279,GSM1438226,GSM1438283,GSM1438165,GSM1438159,GSM1438223,GSM1438288,GSM1438167,GSM1438150,...,GSM1438184,GSM1438155,GSM1438163,GSM1438181,GSM1438178,GSM1438217,GSM1438289,GSM1438229,GSM1438151,GSM1438271
0,cg00000029,0.430084,0.474732,0.430904,0.459381,0.388044,0.478629,0.509893,0.445758,0.656940,...,0.481063,0.385132,0.543896,0.416861,0.483839,0.506768,0.503143,0.429954,0.535417,0.40371
1,cg00000108,0.819519,0.883696,0.829506,0.869255,0.877463,0.892246,0.874892,0.786364,0.445932,...,0.828604,0.895439,0.898828,0.868023,0.902865,0.896922,0.877833,0.923635,0.904021,0.83456

In [2]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE59457_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 32)

,CpG,GSM1438279,GSM1438226,GSM1438283,GSM1438165,GSM1438159,GSM1438223,GSM1438288,GSM1438167,GSM1438150,...,GSM1438184,GSM1438155,GSM1438163,GSM1438181,GSM1438178,GSM1438217,GSM1438289,GSM1438229,GSM1438151,GSM1438271
0,cg00005072,0.733091,0.671804,0.692099,0.876787,0.614572,0.777687,0.699596,0.669749,0.842625,...,0.716646,0.635778,0.805481,0.875025,0.855558,0.713865,0.778107,0.576708,0.633475,0.761872
1,cg00010266,0.056259,0.052720,0.072297,0.066534,0.069756,0.061140,0.050745,0.052012,0.046472,...,0.050885,0.053100,0.060432,0.055903,0.050716,0.064720,0.045518,0.036865,0.049980,0.071917