In [1]:
%cd Z:\Project_Top2B\April_2023\GSE40360
import pandas as pd

Z:\Project_Top2B\April_2023\GSE40360

In [2]:
df2 = pd.read_csv('GSE40360_Age_MS.csv')
df2.head(2)

   Sample_ID  Age
0  GSM991986   63
1  GSM991987   74

In [3]:
df = pd.read_csv('GSE40360.csv')

# remove quotes from column names
df.columns = df.columns.str.replace('"', '')

# remove quotes from cell values
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# print updated DataFrame
print(df.shape)
df.head(2)

(481917, 48)

,ID_REF,GSM991986,GSM991987,GSM991988,GSM991989,GSM991990,GSM991991,GSM991992,GSM991993,GSM991994,...,GSM992023,GSM992024,GSM992025,GSM992026,GSM992027,GSM992028,GSM992029,GSM992030,GSM992031,GSM992032
0,cg00000029,0.683853,0.733556,0.590328,0.638373,0.613812,0.720735,0.524450,0.624562,0.674623,...,0.677107,0.629602,0.585188,0.492750,0.638627,0.563387,0.614381,0.669685,0.559711,0.582355
1,cg00000108,0.932607,0.955674,0.963023,0.918614,0.951447,0.956555,0.948158,0.956308,0.968683,...,0.951001,0.967597,0.958379,0.975278,0.929730,0.946653,0.931855,0.932677,0.957040,0.966770

In [4]:
# Extract the names which are present in both df2 and df
names = list(set(df2['Sample_ID']).intersection(set(df.columns)))

# Subset df using the names extracted from df2
df_subset = df[names]

# Adding CpG column from df
df_subset.insert(loc=0, column='ID_REF', value=df.iloc[:, 0])

df_subset.to_csv('GSE40360_MS.csv', index=False)

print(df_subset.shape)
df_subset.head(2)

(481917, 28)

,ID_REF,GSM991991,GSM992001,GSM992005,GSM991997,GSM991994,GSM991988,GSM991987,GSM992000,GSM991989,...,GSM992012,GSM991999,GSM991993,GSM992010,GSM992011,GSM992008,GSM991995,GSM991986,GSM992003,GSM991998
0,cg00000029,0.720735,0.597631,0.429061,0.676817,0.674623,0.590328,0.733556,0.637883,0.638373,...,0.605316,0.646639,0.624562,0.587444,0.594915,0.584426,0.600130,0.683853,0.740164,0.657462
1,cg00000108,0.956555,0.935467,0.952691,0.950567,0.968683,0.963023,0.955674,0.932408,0.918614,...,0.940446,0.949503,0.956308,0.941999,0.920199,0.972720,0.964849,0.932607,0.958786,0.932188

In [5]:
import pandas as pd

%cd Z:\Project_Top2B
df1 = pd.read_csv('CpGLists_Top2B.csv')

%cd Z:\Project_Top2B\April_2023\GSE40360
df2 = pd.read_csv('GSE40360_MS.csv')

print(df1.head(2))
df2.head(2)

Z:\Project_Top2B
Z:\Project_Top2B\April_2023\GSE40360
          CpG
0  cg00005072
1  cg00010266

,ID_REF,GSM991991,GSM992001,GSM992005,GSM991997,GSM991994,GSM991988,GSM991987,GSM992000,GSM991989,...,GSM992012,GSM991999,GSM991993,GSM992010,GSM992011,GSM992008,GSM991995,GSM991986,GSM992003,GSM991998
0,cg00000029,0.720735,0.597631,0.429061,0.676817,0.674623,0.590328,0.733556,0.637883,0.638373,...,0.605316,0.646639,0.624562,0.587444,0.594915,0.584426,0.600130,0.683853,0.740164,0.657462
1,cg00000108,0.956555,0.935467,0.952691,0.950567,0.968683,0.963023,0.955674,0.932408,0.918614,...,0.940446,0.949503,0.956308,0.941999,0.920199,0.972720,0.964849,0.932607,0.958786,0.932188

In [6]:
# Merge df1 and df2 on the common column 'col1'
merged_df = pd.merge(df1, df2, how ='inner', left_on='CpG', right_on='ID_REF')

# Drop the common column 'ID_REF'
merged_df.drop('ID_REF', axis=1, inplace=True)
merged_df.to_csv('GSE40360_MS_Top2b.csv', index = 'False')
print(merged_df.shape)
merged_df.head(2)

(4604, 28)

,CpG,GSM991991,GSM992001,GSM992005,GSM991997,GSM991994,GSM991988,GSM991987,GSM992000,GSM991989,...,GSM992012,GSM991999,GSM991993,GSM992010,GSM992011,GSM992008,GSM991995,GSM991986,GSM992003,GSM991998
0,cg00005072,0.861168,0.851250,0.915789,0.854287,0.848574,0.837190,0.841786,0.852649,0.873664,...,0.852832,0.888025,0.864459,0.850521,0.862020,0.860979,0.879647,0.827303,0.866561,0.859758
1,cg00010266,0.037614,0.030995,0.035703,0.035483,0.033796,0.044531,0.037629,0.040793,0.052765,...,0.030088,0.050744,0.062622,0.028290,0.076157,0.050573,0.031347,0.038995,0.069059,0.037152